<div class="row">
  <div class="col-md-12">
    <h4 class="text-center empty-thing-title">
        {{if title title "Expecting to see something here?"}}
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center empty-thing-add">
{{!-- create a new thing when it's ready!
    {{#link-to "things.new" class="btn btn-success"}}Add a Thing{{/link-to}}
 --}}  </div>
</div>
