// Variables
//
// Overides default bootstrap variables and defines custom varables

$font-family-sans-serif: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$headings-font-weight: 300;

$display1-weight: 200;
$display2-weight: 200;
$display3-weight: 200;
$display4-weight: 200;
