<h2><span class="location-name">{{model.name}}</span>
{{#link-to "things.new" class="btn btn-sm btn-primary"}}New{{/link-to}}
</h2>
<div class="row">
  {{#each model.things as |thing|}}
    <div class="col-md-3">
        {{#status-card thing=thing}}
        {{/status-card}}
    </div>
  {{/each}}
  {{liquid-outlet}}
</div>
