<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    <a class="navbar-brand" href="#">OpenWorks Status</a>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>

{{outlet class="container"}}

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <span class="text-muted">Built with ❤ by <a href="https://github.com/orgs/UpstateRuby/people">Upstate Ruby</a></span>
</nav>
